.root {
  border-bottom: 1px solid #444;

  .price {
    text-align: right;
    
  }
  
  .data {
    display: flex;
    justify-content: center;
    width: 100%;
  
    .title {
      flex: 1;
    }
  }
}

