@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.root {
  border-bottom: 1px solid $border-cl;

  .price {
    text-align: right;
    
  }
  
  .data {
    @include flex(center);
    width: 100%;
  
    .title {
      flex: 1;
    }
  }
}

