.root {
  display: flex;

  .btn {
    padding: 0 10px;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: .2s;

    &:focus {
      outline: 1px solid transparent;
    }

    &__decrease {
      background-color: #ffa500;

      &:hover {
        background-color: darken(#ffa500, 10);
      }
    }

    &__increase {
      background-color: #0084ff;

      &:hover {
        background-color: darken(#0084ff, 10);
      }
    }

    &__decrease:disabled , &__increase:disabled {
      background-color: #777;
    }
  }

  .amount {
    display: inline-block;
    min-width: 50px;
    text-align: right;
    font-size: 17px;
    padding:  4px 10px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background-color: #333;
    border: none;
  }
}