@import '../../../styles/variables.scss';

.root {
  display: flex;

  .btn {
    padding: 0 10px;
    border: none;
    color: $amount-font-cl;
    cursor: pointer;
    transition: .2s;

    &:focus {
      outline: 1px solid transparent;
    }

    &__decrease {
      background-color: $amount-btn-decr-cl;

      &:hover {
        background-color: darken($amount-btn-decr-cl, 10);
      }
    }

    &__increase {
      background-color: $amount-btn-incr-cl;

      &:hover {
        background-color: darken($amount-btn-incr-cl, 10);
      }
    }

    &__decrease:disabled , &__increase:disabled {
      background-color: $amount-btn-disable-cl;
    }
  }

  .amount {
    display: inline-block;
    min-width: 50px;
    text-align: right;
    font-size: 17px;
    padding:  4px 10px;
    font-weight: bold;
    color: $amount-font-cl;
    text-align: center;
    background-color: $amount-span-cl;
    border: none;
  }
}