@import '../../../styles/variables.scss';

.root {
  position: relative;
  width: 100%;
  height: 6px;
  overflow: hidden;

  &:before {
    content: '';
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background-color: $loader-cl;
    animation: loading 3s infinite linear;
  }
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

