@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.root {
  position: relative;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 1024px;
  max-width: 95%;
  background-color: $photo-modal-cl;
  transform: translate(-50%, -50%);

  .photoWrapper {
    width: 100%;
    height: auto;
    max-height: 80vh;

    .photo {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }


  .closeIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: $close-icon-cl;
    cursor: pointer;
    font-size: 36px;
    transition: .2s;

    &:hover {
      color: lighten($close-icon-cl, 20);
    }
  }

  .panel {
    position: relative;
    @include flex(space-between);
    padding: 5px;

    &__reverse {
      flex-direction: row-reverse;
    }

    .numbers {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  @media (max-height: 600px) and (orientation: landscape) {
    .photoWrapper {
      height: 80vh;
    }
  }
}