.root {
  margin: 20px 0;
  

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #444;
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
  }

  .btn {
    padding: 3px 0;
    width: 60px;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .2s;

    &:focus {
      outline: 1px solid transparent;
    }



    &__note {
      background-color: #ff6600;
      margin-right: 10px;

      &:hover {
        background-color: darken(#ff6600, 15);
      }
    }

    &__remove {
      background-color: #f00;

      &:hover {
        background-color: darken(#f00, 15);
      }
    }

    &__add {
      background-color: #6ba513;
      margin-left: 10px;

      &:hover {
        background-color: darken(#6ba513, 15);
      }
    }
  }

  .note {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding: 5px 0;
    transition: .3s;

    &.active {
      height: 110px;
    }

    .textarea {
      width: 100%;
      height: 80%;
      padding: 5px;
      font-size: 18px;
      border-radius: 5px;
      overflow: hidden;
      outline: none;
      resize: none;
      color: #fff;
      border: none;
      background-color: #333;
    }

    &_btns {
      text-align: right;
    }
  };

}