body {
  margin: 0;
  background-color: $background-cl;
  font-family: 'Lato', sans-serif;
  color: $font-cl;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
}

.main {
  flex: 1;
}

.btn {
  background-color: $btn-positive-bgc;
  text-decoration: none;
  color: $btn-font-cl;
  border: none;
  padding: 5px 20px;
  font-size: 17px;
  border-radius: 5px;
  cursor: pointer;
  transition: .1s;

  &.btn__cancel {
    display: inline-block;
    background-color: $btn-negative-bgc;
    text-decoration: none;
    line-height: 20px;
    vertical-align: center;

    &:hover, &:active {
      background-color: darken($btn-negative-bgc, 20);

     &:active {
        box-shadow: none;
      }
    }
  }

  &:hover, &:active {
    background-color: darken($btn-positive-bgc, 10);
  }

  &:focus {
    outline: none;
  }

  &:active:not(:disabled) {
    box-shadow: 0 0 9px lighten($btn-positive-bgc, 30);
  }

  &:disabled {
    background-color: $btn-disable-bgc;
  }
}

.btnSmall {
  padding: 3px 0;
  width: 60px;
  color: $btn-font-cl;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: .2s;

  &:focus {
    outline: 1px solid transparent;
  }

  &__neutral {
    background-color: $btn-neutral-bgc;
    margin-right: 10px;

    &:hover {
      background-color: darken($btn-neutral-bgc, 15);
    }
  }

  &__negative {
    background-color: $btn-negative-bgc;

    &:hover {
      background-color: darken($btn-negative-bgc, 15);
    }
  }

  &__positive {
    background-color: $btn-positive-bgc;
    margin-left: 10px;

    &:hover {
      background-color: darken($btn-positive-bgc, 15);
    }
  }
}

.btnNav {
  padding: 2px 5px;
  border-radius: 5px;
  background-color: $btn-nav-bgc;
  color: $btn-font-cl;
  border: none;
  cursor: pointer;
  transition: .2s;

  &:active, &:focus {
    outline: none;
  }

  &:hover {
    background-color: lighten($btn-nav-bgc, 15);
  }

  &:disabled {
    background-color: $btn-disable-bgc;
  }
}

.fade-appear,
.fade-enter {
  transform: translateY(300px) scale(0.2);
  opacity: 0;
  z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  transform: translateY(0) scale(1);
  opacity: 1;
  transition: all 300ms linear 50ms;
}

.fade-exit {
  opacity: 0;
}