body {
  margin: 0;
  background-color: #222;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
}

.main {
  flex: 1;
}