//general
$background-cl: #222;
$font-cl: #fff;
$header-cl: #333;
$footer-cl:  #111;
$footer-font-cl: #aaa;
$backdrop-cl: rgba(0, 0, 0, .9);
$loader-cl: #0e7fb4;
$spinner-cl: #555;
$link-cl: #00a2ff;

//nav
$nav-bgc-cl: #222;
$nav-boxsh-cl: #3e69f6;

//buttons
$btn-positive-bgc: #609b03;
$btn-neutral-bgc: #f60;
$btn-negative-bgc: #f00;
$btn-disable-bgc: #555;
$btn-nav-bgc: #0e7fb4;
$btn-input-bgc: #ff4500;
$btn-font-cl: #fff; 
$btn-filter-cl: #00b7ff;

//amount-widget
$amount-btn-decr-cl: #ffa500;
$amount-btn-incr-cl: #0084ff;
$amount-btn-disable-cl: #777;
$amount-font-cl: #fff;
$amount-span-cl: #333;

//brands
$twitter-cl:  #1DA1F2;
$facebook-cl: #4267B2;
$youtube-cl: #c4302b;

//prices
$price-cl: #ffd700;
$price-old-cl: #921111;
$promo-cl: #609b03;
$price-square-cl: #0084ff;

//product-cart
$hover-border: #ffd700;
$out-off-stock-cl: #f00;

//gallery
$photo-modal-cl: #000;
$close-icon-cl: #7a0909;
$loupe-icon-cl: #fff;

//CartItem
$textarea-cl: #333;
$border-cl: #444;

//Modal
$modal-cl: #777;
$modal-font-cl: #fff;
$modal-btn-cl: #444;
$modal-success-cl: #62b862;
$modal-errror-cl: #c86161;

//forms && inputs
$input-cl: #333;
$input-font-cl: #fff;
$form-error-cl: #b33a3a;
$form-focus-cl: #00b7ff;

//cartBtn
$cart-btn-amount-cl: #adff2f;
$cart-btn-zero-cl: #ff4800fb;