@import '../../../styles/variables.scss';

.root {
  position: fixed;
  top: 40%;
  left: 50%;
  min-width: 320px;
  max-width: 90%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  background-color: $modal-cl;

  .title {
    margin-bottom: 20px;
  }

  .message {
    margin-bottom: 20px;
  }

  .btn {
    padding: 5px 12px;
    background-color: $modal-btn-cl;
    color: $modal-font-cl;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .2s;
    
    &:hover {
      background-color: darken($modal-btn-cl, 20);
    }
  }

}

.root.error {
  
  .title {
    color: $modal-errror-cl;
  }
}


.root.success {
  
  .title {
    color: $modal-success-cl;
  }

  .btn {
    background-color: $modal-success-cl;

    &:hover {
      background-color: darken($modal-success-cl, 20);
    }
  }
}