@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.root {
  margin: 40px auto;

  .grid {
    @include flex(space-around, space-between);
    width: 100%;
    max-width: 680px;
    margin: 0 auto;
  }

  .image, .info, .prices, .form {
    width: 320px;
    max-width: 100%;
    margin-bottom: 20px;
    padding: 0 10px;
  }

  .photo {
    width: 100%;
  }

  .specification {
    display: flex;
    margin: 5px 0;

    .categories {
      min-width: 90px;
      &__item {
        padding: 3px 0;
      }
    }
  }

  .centered {
    text-align: center;
    width: 100%;
  }
  
  .info {
    @include flex(space-between, flex-start, nowrap, column);
  }

  .description {
    font-size: 14px;
    overflow: hidden;
    text-indent: 30px;
    text-align: justify;
    line-height: 1.5;
  }

  .prices {
    @include flex(space-between);
    text-align: right;

    .promotion {
      display: block;
      position: relative;
      background-color:  $promo-cl;
      padding: 2px 20px 2px 5px;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 100%;
        width: 20px;
        height: 20px;
        background-color: $promo-cl;
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }

    .oldPrice {
      display: inline-block;
      padding: 0 5px;
      color: $price-old-cl;
      text-decoration: line-through;
    }

    .price {
      background-color: $price-square-cl;
      padding:  4px 5px 4px 20px;
    }
  }

  .outOffStock {
    color: $out-off-stock-cl;
  }

  .form {
    @include flex(space-between);
  }
}