@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.root {
  background-color: $header-cl;
  padding-bottom: 4px;

  .headerNav {
    @include flex(space-between);
    padding: 0 20px;
  }
}