@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.root {
  display: block;
  color: inherit;
  text-decoration: none;
  width: 250px;
  transition: .2s;

  &:hover {
    box-shadow: 0 0 10px $hover-border;
  }

  .cartPhoto {
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;

    .photo {
      width: 100%;
      height: 100%;
    }

    .percent {
      position: absolute;
      @include flex(center);
      bottom: 0;
      right: 0;
      width: 60px;
      height: 30px;
      background-color: $promo-cl;
    }
  }

  .title {
    text-align: center;
    padding: 10px 0;
  }

  .prices {
    text-align: center;
    padding-bottom: 10px;

    .price, .oldPrice {
      font-size: 18px;
      margin: 0 10px;
    }

    .price {
      color: $price-cl;
    }

    .oldPrice {
      color: $price-old-cl;
      text-decoration: line-through;
    }
  }
}