.root {
  margin: 10px 0;
  text-align: right;

  .pages {
    margin: 0 5px;
  }

  .btn {
    padding: 2px 5px;
    border-radius: 5px;
    background-color: #0e7fb4;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: .2s;

    &:hover {
      background-color: lighten(#0e7fb4, 15);
    }

    &:disabled {
      background-color: #555;
    }
  }

  @media (max-width: 800px) {
   text-align: center;
  }
}