@import '../../../styles/mixins.scss';

.root {
  padding: 20px;

  .panel {
    @include flex(space-between);
  }

  .products {
    @include flex(space-between, flex-start);
  }

  .loader {
    margin: 90px 0;
  }


  .product {
    margin: 10px 0;
  }

  @media (max-width: 800px) {
    .panel {
      flex-direction: column;
    }

    .products {
      justify-content: space-around;
    }
  }
}