@import '../../../styles/variables.scss';

.root {
  display: flex;
  
  .input {
    padding: 3px 5px;
    font-size: 16px;
    background-color: $input-cl;
    border: none;
    color: $input-font-cl;
    transition: .2s;

    &:focus {
      outline: 1px solid transparent;
    }
  }

  
  .btn {
    font-size: 16px;
    background-color: $btn-input-bgc;
    color: $btn-font-cl;
    border: none;
    height: 28px;
    padding: 0 10px 0;
    cursor: pointer;
    transition: .2s;

    &:focus {
      outline: 1px solid transparent;
    }

    &:hover {
      background-color: lighten($btn-input-bgc, 10);
    }
  }

}