@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.root {
  margin: 20px 0;

  .regulations {
    margin-top: 10px;
    @include flex(flex-start, flex-start);
    flex-wrap: nowrap;
    font-size: 14px;

    .checkbox {
      margin-top: 3px;
      margin-right: 10px;
      cursor: pointer;
    }

    .checkLabel {
      cursor: pointer;
    }

    &.error {
      
      .checkLabel {
        color: $form-error-cl;
      }
    }
  }

  .formItem {
    margin-bottom: 10px;

    .label {
      display: block;
      padding: 2px 0;
      font-size :14px;

      &.label__small {
        display: inline;
        padding: 0 10px 0 0;
      }
    }

    .input {
      width: 240px;
      border-top-right-radius: 5px;
      font-size: 16px;
      padding: 5px;
      outline: none;
      border: none;
      color: $input-font-cl;
      background-color: $input-cl;

      &:focus {
        box-shadow: 0 1px $form-focus-cl;
      }

      &__big {
        width: 100%;
      }

      &__small {
        width: 70px;
      }

      &__medium {
        width: 160px;
      }
    }

    &.error {
      color: $form-error-cl;

      .input {
        box-shadow: 0 2px $form-error-cl;
      }
    }



    &__small {
      margin-right: 10px;
    }
  }

  .smallWrapper {
    @include flex();
  }

  .submit {
    @include flex(center);
    margin-top: 40px;

    .btn {
      margin: 0 10px;
    }
  }

  .required {
    margin-top: 5px;
    font-size: 12px;

    &.warning {
      color: $form-error-cl;
    }
  }
}