.root {
  margin: 20px 0;

  .regulations {
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 14px;

    .checkbox {
      margin-right: 10px;
      cursor: pointer;
    }

    .checkLabel {
      cursor: pointer;
    }

    &.error {
      
      .checkLabel {
        color: #b33a3a;
      }
    }
  }

  .formItem {
    margin-bottom: 10px;

    .label {
      display: block;
      padding: 2px 0;
      font-size :14px;

      &.label__small {
        display: inline;
        padding: 0 10px 0 0;
      }
    }

    .input {
      width: 240px;
      border-top-right-radius: 5px;
      font-size: 16px;
      padding: 5px;
      outline: none;
      border: none;
      color: #fff;
      background-color: #333;

      &:focus {
        box-shadow: 0 1px #00b7ff;
      }

      &__big {
        width: 100%;
      }

      &__small {
        width: 70px;
      }

      &__medium {
        width: 160px;
      }
    }

    &.error {
      color: #b33a3a;

      .input {
        box-shadow: 0 2px #b33a3a;
      }
    }



    &__small {
      margin-right: 10px;
    }
  }

  .smallWrapper {
    display: flex;
    align-items: center;
  }

  .submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    

    .btn {
      background-color: #609b03;
      margin: 0 10px;
      color: #fff;
      border: none;
      padding: 5px 20px;
      font-size: 17px;
      border-radius: 5px;
      cursor: pointer;
      transition: .1s;

      &.btn__cancel {
        display: inline-block;
        background-color: red;
        text-decoration: none;
        line-height: 20px;
        vertical-align: center;

        &:hover, &:active {
          background-color: darken(red, 20);

         &:active {
            box-shadow: none;
          }
        }
      }

      &:hover, &:active {
        background-color: darken(#609b03, 10);
      }

      &:focus {
        outline: none;
      }

      &:active:not(:disabled) {
        box-shadow: 0 0 9px lighten(#609b03, 30);
      }

      &:disabled {
        background-color: #555;
      }
    }
  }

  .required {
    margin-top: 5px;
    font-size: 12px;
  }
}