.root {
  margin: 20px 0;

  .regulations {
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 14px;

    .checkbox {
      margin-right: 10px;
      cursor: pointer;
    }

    .checkLabel {
      cursor: pointer;
    }

    &.error {
      
      .checkLabel {
        color: #b33a3a;
      }
    }
  }

  .formItem {
    margin-bottom: 10px;

    .label {
      display: block;
      padding: 2px 0;
      font-size :14px;

      &.label__small {
        display: inline;
        padding: 0 10px 0 0;
      }
    }

    .input {
      width: 240px;
      border-top-right-radius: 5px;
      font-size: 16px;
      padding: 5px;
      outline: none;
      border: none;
      color: #fff;
      background-color: #333;

      &:focus {
        box-shadow: 0 1px #00b7ff;
      }

      &__big {
        width: 100%;
      }

      &__small {
        width: 70px;
      }

      &__medium {
        width: 160px;
      }
    }

    &.error {
      color: #b33a3a;

      .input {
        box-shadow: 0 2px #b33a3a;
      }
    }



    &__small {
      margin-right: 10px;
    }
  }

  .smallWrapper {
    display: flex;
    align-items: center;
  }

  .submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

    .btn {
      margin: 0 10px;
    }
  }

  .required {
    margin-top: 5px;
    font-size: 12px;
  }
}