.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 40vh;

  .list {
    list-style: none;
  } 

  .price {
    width: 220px;
    font-size: 22px;
    border-top: 1px solid #444;
    padding: 10px 0;

    strong {
      padding-left: 10px;
      color: #ef0;
    }
  }

  .confirm {
    margin: 20px 0;
    text-align: center;
  }

  .btn {
    background-color: #609b03;
    color: #fff;
    border: none;
    padding: 5px 20px;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;
    transition: .1s;

    &:hover, &:active {
      background-color: darken(#609b03, 10);
    }

    &:focus {
      outline: none;
    }

    &:active:not(:disabled) {
      box-shadow: 0 0 9px lighten(#609b03, 30);
    }

    &:disabled {
      background-color: #555;
    }
  }
}