@import '../../../styles//variables.scss';
@import '../../../styles/mixins.scss';

.root {
  @include flex(space-between, space-between, nowrap, column);
  min-height: 40vh;

  .list {
    list-style: none;
  } 

  .price {
    display: inline;
    font-size: 22px;

    span {
      padding: 10px 10px 0 0;
      border-top: 1px solid $border-cl;
    }

    strong {
      padding-left: 10px;
      color: $price-cl;
    }
  }

  .confirm {
    margin: 20px 0;
    text-align: center;
  }
}