.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 40vh;

  .list {
    list-style: none;
  } 

  .price {
    display: inline;
    font-size: 22px;

    span {
      padding: 10px 10px 0 0;
      border-top: 1px solid #444;
    }

    strong {
      padding-left: 10px;
      color: #ef0;
    }
  }

  .confirm {
    margin: 20px 0;
    text-align: center;
  }
}