@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.root {
  background-color: $footer-cl;
  text-align: center;
  color: $footer-font-cl;
  padding: 20px;

  .categories {
    @include flex(space-around, flex-start);

    h3 {
      text-align: center;
      margin: 10px 0;
    }

    .category {
      width: 250px;
      margin: 10px 20px;
      text-align: left;

      &__item {
        display: flex;
        margin: 8px 0;
      }
      
      .icon {
        margin-right: 10px;
      }
    }
  }

  .newsletter {
    display: flex;
    margin: 10px 0;


    &__input {
      padding: 3px 5px;
      font-size: 16px;
      background-color: lighten($footer-cl , 15);
      border: none;
      color: lighten($footer-font-cl, 20);
      transition: .2s;

      &:focus {
        outline: 1px solid transparent;
      }
    }

    &__btn {
      font-size: 20px;
      background-color: $btn-input-bgc;
      color: $btn-font-cl;
      border: none;
      height: 28px;
      padding: 0 10px 0;
      cursor: pointer;
      transition: .2s;

      &:focus {
        outline: 1px solid transparent;
      }

      &:hover {
        background-color: lighten($btn-input-bgc, 10);
      }
    }
  }

  .social {
    @include flex(space-around);
    height: 90px;

    &__icon {
      @include flex(center);
      min-width: 50px;
      max-width: 50px;
      height: 50px;
      font-size: 18px;
      border-radius: 50%;
      color: $btn-font-cl;
      background-color: lighten($footer-cl, 8);
      transition: .2s;
    }

    &__twitter:hover {
      background-color: $twitter-cl;
    }

    &__youtube:hover {
      background-color: $youtube-cl;
    }

    &__facebook:hover {
      background-color: $facebook-cl;
    }
  }
}